// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

input{
    outline: none;
    background-color: red;
}

textarea{
    outline: none;
}

select{
    outline: none;
}
.create-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
