@import url(https://fonts.googleapis.com/css?family=Nunito);input {
  outline: none;
  width: 300px;
}

textarea {
  outline: none;
}

select {
  outline: none;
}

.create-form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.create-form .over {
  overflow: hidden;
}

.create-form .over .form-label {
  position: relative;
  width: 250px;
  height: 300px;
  cursor: pointer;
  border: 1px solid #232323;
}

.create-form .over .form-label .input {
  position: absolute;
  width: 250px;
  height: 300px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
}

.create-form .over .form-label .fas {
  position: absolute;
  opacity: 0.3;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.create-form .over .form-label .img {
  width: 250px;
  height: 300px;
}

.flex-box {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
}

